<?xml version="1.0" encoding="utf-8" ?>
<!--<nlog >
   <targets>
      --><!-- target configuration here --><!--
   </targets>
   <rules>
      --><!-- log routing rules --><!--
   </rules>
</nlog>-->
<nlog  
	xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Debug" 
      internalLogFile="g:\nlog-internal.txt">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
	<add assembly="NLog.Appsettings.Standard" />
  </extensions>
	<!--connectionString="${appsettings:name=DatabaseConfiguration.ConnectionString}"-->
	<!--connectionString="Server=LAPTOP-R3P7DCQ0\SQLEXPRESS;Initial Catalog=FunnyTour;User ID=Dominik;Password=Dominik6000;"-->
	<!--"${appsettings:name=DatabaseConfiguration.ConnectionString}"
		${appsettings:Options.Language}-->
  <targets>
 
    <target name="database" xsi:type="Database"
		connectionString="${appsettings:ConnectionStrings.Tournament}"
			
		

		>
		<commandText>
        insert into dbo.NlogDBLog (
        Application, Logged, Level, Message,
        Logger, Callsite, Exception
        ) values (
        @Application, @Logged, @Level, @Message,
        @Logger, @Callsite, @Exception
        );
      </commandText>
      <parameter name="@application" layout="AspNetCoreNlog" />
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@callsite" layout="${callsite}" />
      <parameter name="@exception" layout="${exception:tostring}" />
    </target>
  </targets>
 
  <rules>
    <logger name="*" minlevel="Trace" writeTo="database"/>
  </rules>
</nlog>